---
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import config from '@/site-config'

import { Button, Icon } from '@/components/user'

const headings = [
  { depth: 2, slug: 'projects', text: 'Projects' },
  { depth: 2, slug: 'sponsorship', text: 'Sponsorship' }
]
---

<PageLayout title='Projects' {headings} info={{ slug: '/projects', hideComment: true }}>
  <div class='mb-8 flex items-center justify-between'>
    <p class='text-muted-foreground'>如果你觉得我的项目还不错，可以赞助我，让我有动力继续做下去。</p>
    <Button title='Checkout sponsorship' class='w-fit' href='#sponsorship'>
      <Icon class='size-5' name='receive-money' slot='before' />
    </Button>
  </div>

  <h2 id='projects' class='mb-8 text-2xl font-semibold'>Projects</h2>
  <ProjectSection
    project={[
      {
        name: '项目 1',
        description: '项目描述 1。你可以在这里介绍项目的主要功能。',
        image: 'lumina.webp',
        links: [{ type: 'site', href: '#' }]
      },
      {
        name: '项目 2',
        description: '项目描述 2。你可以在这里介绍项目的主要功能。',
        image: 'byddl.webp',
        links: [
          { type: 'site', href: '#' },
          { type: 'github', href: '#' }
        ]
      }
    ]}
  />

  <!-- sponsorship -->
  <h2 id='sponsorship'>Sponsorship</h2>
  <p>感谢你对我的支持！如果有兴趣赞助我的项目，欢迎联系我。</p>
</PageLayout>

<script
  is:inline
  type='module'
  data-astro-rerun
  define:vars={{ npmCDN: config.npmCDN, walineServer: config.integ.waline.server }}
>
  const normalizePath = (path) => {
    if (path === '/') return path
    return path.endsWith('/') ? path.slice(0, -1) : path
  }

  const loadPageviewCount = async () => {
    const pageview = await import(`${npmCDN}/@waline/client@v3/dist/pageview.js`)
    pageview.pageviewCount({
      serverURL: walineServer,
      path: normalizePath(window.location.pathname)
    })
  }

  await loadPageviewCount()
</script>
